name: Fetch Cheats

on:
  schedule:
  - cron:  "0 0 * * 1"
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04

    env:
      HOME: /root

    steps:
    - name: Install apt-get utilities
      run: apt-get update && apt-get install -y --no-install-recommends git detox sharutils lsb-release ca-certificates && update-ca-certificates

    - uses: actions/checkout@v3
      with:
        ref: develop

    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'

    - run: pip install -r .github/requirements.txt

    - name: Download Cheats
      run: ./.github/download_cheats.py .
      
    - name: Validate Cheats
      shell: bash
      run: |
        set -euo pipefail
        FILES=$(find . -type f | wc -l)
        echo "FILES: ${FILES}"
        if (( ${FILES} < 10000 )) ; then
          echo "Not enough files!"
          exit 1
        fi

    - name: Push Orphan Main
      shell: bash
      run: |
        set -euo pipefail
        git config --global --add safe.directory '*'
        git config --global user.email "theypsilon@gmail.com"
        git config --global user.name "The CI/CD Bot"
        ./.github/push_orphan_main.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
